<?xml version="1.0" ?>
<launch>  
  <arg name="robot_ip" default="192.168.10.52" />  
  <arg name="mobile" default="false"/> 
  <arg name="calibration" default="false"/>   
  <arg name="load_gripper" default="true" />    
  
  <param name="robot_group" type="string" value="ns1"/>  
  <param name="load_gripper" type="bool" value="true"/>
  <param name="robotiq_gripper" type="bool" value="false"/>
  <param name="mobile" type="bool" value="$(arg mobile)"/>
  <param name="issimulation" type="bool" value="false"/>    
  <param name="iscalibration" type="bool" value="$(arg calibration)"/>

  <group ns ="ns1">
    <group if="$(arg mobile)">      
      <!-- rqt -->
      <node name="rqt" pkg="rqt_gui" type="rqt_gui" args="--perspective-file $(find kimm_phri_panda_husky)/rqt/kimm_phri_panda_husky_real_30inch.perspective" output="screen"/>      

      <!-- controlsuite -->
      <node name="kimm_phri_real_remote_control" pkg="kimm_phri_panda_husky" args="-keyboard" type="ns1_real_mobile.py" output="screen"/>

    </group>
    <group unless="$(arg mobile)">          
      <!-- rqt -->
      <node name="rqt" pkg="rqt_gui" type="rqt_gui" args="--perspective-file $(find kimm_phri_panda_husky)/rqt/kimm_phri_panda_real_30inch.perspective" output="screen"/>

      <!-- controlsuite -->
      <node name="kimm_phri_real_remote_control" pkg="kimm_phri_panda_husky" args="-keyboard" type="ns1_real.py" output="screen"/>

    </group>
  </group>
  
</launch>

