<?xml version="1.0" ?>
<launch>  
  <arg name="robot_ip" default="192.168.10.52" />
  <arg name="load_gripper" default="false" />    
  <arg name="robotiq_gripper" default="true" />    
  <arg name="mobile" default="true"/> 
  <arg name="calibration" default="false"/> 
  <arg name="note_book" default="false"/> <!-- true: rqt_gui with notebook size, false: rqt_gui with PC size -->

  <param name="robot_group" type="string" value="ns1"/>  
  <param name="load_gripper" type="bool" value="$(arg load_gripper)"/>
  <param name="robotiq_gripper" type="bool" value="$(arg robotiq_gripper)"/>
  <param name="mobile" type="bool" value="$(arg mobile)"/>
  <param name="issimulation" type="bool" value="false"/>
  <param name="iscalibration" type="bool" value="$(arg calibration)"/>

  <!-- franka_bringup -->
  <include file="$(find franka_control)/launch/franka_control.launch" >
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include> 

  <group ns ="ns1">
    <group if="$(arg mobile)">      
      <!-- action server for gripper -->
      <!-- <include file="$(find robotiq_2f_gripper_control)/launch/robotiq_action_server.launch" />                   -->

      <!-- for pinocchio -->
      <param name="robot_urdf_path" type="string" value="$(find husky_description)"/>      
      <param name="robot_urdf" type="string" value="/husky_single/husky_panda_hand_free.urdf"/>

      <!-- for joint name for gui -->
      <param name="gui_urdf_path" type="string" value="$(find husky_description)"/>
      <param name="gui_urdf_name" type="string" value="/husky_single/husky_panda_2f_85_rviz_ns1.urdf"/>

      <!-- for tf -->
      <param name="robot_description" textfile="$(find husky_description)/husky_single/husky_panda_2f_85_rviz_ns1.urdf"/>
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true">        
        <remap from="joint_states" to="real_robot/joint_states" />        
      </node>                      
    </group>

    <group unless="$(arg mobile)">            
      <!-- action server for gripper -->
      <!-- <include file="$(find robotiq_2f_gripper_control)/launch/robotiq_action_server.launch" />                   -->
      
      <!-- for pinocchio -->
      <param name="robot_urdf_path" type="string" value="$(find franka_panda_description)"/>      
      <param name="robot_urdf" type="string" value="/franka_single/panda_arm_2f_85.urdf"/>                   
      
      <!-- for joint name for gui -->
      <param name="gui_urdf_path" type="string" value="$(find franka_panda_description)"/>
      <param name="gui_urdf_name" type="string" value="/franka_single/panda_arm_2f_85_rviz.urdf"/>

      <!-- for tf -->
      <param name="robot_description" textfile="$(find franka_panda_description)/franka_single/panda_arm_2f_85_rviz.urdf"/>
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true">        
        <remap from="joint_states" to="real_robot/joint_states" />        
      </node>                
    </group>
  </group>

  <!-- my controller spawn -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"  args="phri_franka_husky_controller"/>            

  <!-- rosparam upload -->
  <rosparam command="load" file="$(find kimm_phri_panda_husky)/config/kimm_phri_panda_husky_controllers.yaml" />    
</launch>

